<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/color.css">
    <link rel="stylesheet" href="css/grid.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>HELLO</h1>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae natus culpa dolorem? Et, quo perspiciatis dicta adipisci doloremque sequi id ullam cupiditate exercitationem laudantium rerum maxime ipsum, nostrum laborum qui!
                </p>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae natus culpa dolorem? Et, quo perspiciatis dicta adipisci doloremque sequi id ullam cupiditate exercitationem laudantium rerum maxime ipsum, nostrum laborum qui!
                </p>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae natus culpa dolorem? Et, quo perspiciatis dicta adipisci doloremque sequi id ullam cupiditate exercitationem laudantium rerum maxime ipsum, nostrum laborum qui!
                </p>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <h3>title</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae natus culpa dolorem? Et, quo perspiciatis dicta adipisci doloremque sequi id ullam cupiditate exercitationem laudantium rerum maxime ipsum, nostrum laborum qui!
                </p>
            </div>
        </div>
    </div>
</body>
</html>