<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>
    <div id="app">
        <form action="">
            <input type="text" v-model="input">
            <input type="submit" value="新增事項" @click.prevent="store()">
        </form>
        <ul>
            <li v-for="todo in todos">
                <input type="checkbox" v-model="todo.isCompleted">
                {{todo.title}}
            </li>
        </ul>
    </div>
    <script>

        const {createApp} = Vue;

        createApp({
            data(){
                return {
                    input:'',
                    todos:[
                        {
                            id:1,
                            title: '寫作業',
                            isCompleted: false,
                        },
                        {
                            id:2,
                            title: '洗衣服',
                            isCompleted: true,
                        }
                    ]
                }
            },
            methods:{
                store(){
                    this.todos.push({
                        id:Date.now(),
                        title: this.input,
                        isCompleted: false
                    });
                    this.input = '';
                }
            }
        }).mount('#app');

        const obj = {
            a:'asdf',
            b(){
                return 'hello';
            }
        }

        console.log(obj.b());

        // 解構賦值
        const user = {
            name:'john',
            mail:'asdf@gmail.com',
            gender:'male'
        }
        // 物件解構
        const {name,mail} = user;
        console.log(name,mail);
        console.log(user.name,user.mail)

    </script>
</body>
</html>